html body{
     background-color: red;
     margin:0;
     padding:0;

}

.container{
    position:fixed;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(73, 71, 69);
    box-shadow: black;
    border-radius: 23px;
    padding-bottom: 18px;
    width: 325px;
    

}

.display{
      width: 100%;
      height: 60px;
      
      padding: 40px 0;
      background-color: rgb(218, 228, 216);
      border-top-left-radius:23px;
      border-top-right-radius:23px;
}

.buttons{
    padding:20px 20px 0 20px

}
.row{
    padding-left: 210px;
}
.rows{
    width: 280px;
    float: left;
}

.btn:hover{
    background-color: darkblue;
    color: hotpink;
}

input[type=button]
{
    width: 60px;
    height: 60px;
    float: left;
    padding:0 ;
    margin: 5px;
    box-sizing: border-box;
    background-color: rgb(199, 191, 191);
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 600;
    color: rgb(243, 13, 13);
    cursor: pointer;
}

input[type=text]
{
    width: 275px;
    height: 80px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(56, 55, 55);
    color: rgb(255, 255, 255);
    font-weight: 1200;
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    line-height: 60px;
    margin: 0 25px;
    

}

